<div class='pure-g'>
  <div class="pure-u-1">
    <div flash-message="5000" ></div> 
  </div>
</div>

<div class='pure-g'>
  <div class="pure-u-3-5">
    <div class='padding-small'>
      <div style='display:inline-block;' class="padding-small pure-controls" ng-hide="afterInitialRun">
        <button type="submit" ng-click='showForm()' class="pure-button pure-button-primary"> Show Form </button>
      </div>
      <div style='text-align:right; display:inline;' >
        <button type="submit" ng-click='reset()' class="pure-button pure-button-primary"> Reset </button>
      </div>

      <form novalidate ng-show="afterInitialRun" ng-submit='locator(newGeoLocate.$valid)' name='newGeoLocate' accept-charset="UTF-8" class="pure-form pure-form-stacked " method="post">
        <div class='pure-control-group'>
          <label for="Latitude">Latitude</label>
          <input name="latitude" type="text" ng-model="geolocation.latitude" required />
        </div>

        <div class="pure-control-group">
          <label for="Longitude">Longitude</label>
          <input name="longitude" type="text" ng-model="geolocation.longitude" required />
        </div>

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary" ng-disabled="newGeoLocate.$invalid || submitButton == 'Processing'">{{submitButton}}</button>
        </div>
      </form>
      <br /><br />

      <div map-lazy-load="https://maps.googleapis.com/maps/api/js">
        <ng-map center="[{{weather.weatherObservation.lat}}, {{weather.weatherObservation.lng}}]" zoom="16"></ng-map>
      </div>
    </div>

  </div>
  <div class="pure-u-2-5" ng-show="weather">
    <div class='padding-small'>
      <h3>Weather Condition at {{weather.weatherObservation.stationName}}</h3>

      <ul>
        <li> <strong class='capitalize'>Latitude </strong>: {{weather.weatherObservation.lat}} </li>
        <br />
        <li> <strong class='capitalize'>Longitude </strong>: {{weather.weatherObservation.lng}} </li>
      </ul>
      <ul ng-repeat="(k,v) in weather.weatherObservation">
        <li ng-if="falsy(k)"> <strong class='capitalize'>{{k}} </strong>: {{v}} </li>
      </ul>
    </div>
  </div>
</div>





